<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dischi Pazzi</title>
  <!-- cdn VUE -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- /cdn VUE -->
  <!-- cdn AXIOS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- /cdn AXIOS -->
  <!-- cdn googleFont - lato -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- /cdn googleFont - lato -->
  <!-- link al CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- /link al CSS -->
</head>
<body>

  <div id="root">

    <header>
      <div class="logo">
        <img src="img/logo.png" alt="logo di Spotify">
      </div>
      <div class="g-selection">
        <label for="genres">Scegli il tuo genere di musica preferito:</label>
        <select id="genres" name="genres"  v-model="chosenGenre">
          <option value="All">All</option>
          <option v-for="genre in genres" :value="genre">{{genre}}</option>
        </select>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="album" v-if="(album.genre==chosenGenre) || (chosenGenre=='All')" v-for="album in albums">
          <div class="cover-box">
            <img :src="album.poster" :alt="album.title">
          </div>
          <div class="title-box flex">
            <h2>{{album.title}}</h2>
          </div>
          <div class="author-box flex">
            <h3>{{album.author}}</h3>
          </div>
          <div class="year-box flex">
            <h3>{{album.year}}</h3>
          </div>
        </div>

      </div>
    </main>

  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
